{% extends "template.html" %}
{% block conteudo %}
<form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">
  <fieldset>
    <div class="form-row d-flex justify-content-between">
      <div class="form-group col-4">
        <label for="chamado" class="sr-only">Chamado</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">Chamado</div>
          </div>
          <input type="text" id="chamado" name="chamado" class="form-control fontForm" maxlength="15" required="required">
        </div>
      </div>
      <div class="form-group col-5">
        <label for="data_fim_contrato" class="sr-only">Data Fim Contrato</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">Data Fim Contrato</div>
          </div>
          <input type="date" id="data_fim_contrato" name="data_fim_contrato" class="form-control fontForm" required="required">
        </div>
      </div>
    </div>

    <div class="form-row d-flex justify-content-between">
      <div class="form-group col-8">
        <label for="nome" class="sr-only">Nome</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">Nome</div>
          </div>
          <input type="text" id="nome" name="nome" class="form-control fontForm" maxlength="100" required="required">
        </div>
      </div>
      <div class="form-group col-4">
        <label for="cpf" class="sr-only">CPF</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">CPF</div>
          </div>
          <input type="text" id="cpf" name="cpf" class="form-control fontForm" required="required">
        </div>
      </div>
    </div>

        <div class="form-row d-flex justify-content-between">
      <div class="form-group col-8">
        <label for="email" class="sr-only">Email</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">Email</div>
          </div>
          <input type="email" id="email" name="email" class="form-control fontForm" maxlength="100" required="required">
        </div>
      </div>
        </div>

    <div class="form-row d-flex justify-content-between">
      <div class="form-group col-8">
        <label for="empresa" class="sr-only">Empresa</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">Empresa</div>
          </div>
          <input type="text" id="empresa" name="empresa" class="form-control fontForm" maxlength="100" required="required">
        </div>
      </div>
      <div class="form-group col-4">
        <label for="cnpj" class="sr-only">CNPJ</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">CNPJ</div>
          </div>
          <input type="text" id="cnpj" name="cnpj" class="form-control fontForm" required="required">
        </div>
      </div>
    </div>

    <div class="form-row d-flex justify-content-between">
      <div class="form-group col-8">
        <label for="responsavel" class="sr-only">Responsavel</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">Responsável</div>
          </div>
          <input type="text" id="responsavel" name="responsavel" class="form-control fontForm" maxlength="100" required="required">
        </div>
      </div>
      <div class="form-group col-4">
        <label for="cpf_responsavel" class="sr-only">CPF Responsavel</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text fontForm">CPF Responsável</div>
          </div>
          <input type="text" id="cpf_responsavel" name="cpf_responsavel" class="form-control fontForm" required="required">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-salvar fontForm">Salvar</button>
    <a class="btn btn-secondary fontForm" href="{{ url_for('index') }}">Voltar</a>
  </fieldset>
</form>
{% endblock %}